

#id{
    transition: background-color 0.5s;
}

#id:hover{
    background-color: red; /* Cambio de color al pasar raton por encima */
    transform: rotate(360deg); /* Rotacion de 360 grados al pasar raton por encima */
    transform: scale(1.5); /* Escalado de 1.5 al pasar raton por encima */
}	